<h4>Danh sách khóa học đã bị xóa</h4>
<a href="/me/stored/courses">Danh sách khóa học</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Mã</th>
            <th scope="col">Tên khóa học</th>
            <th scope="col">Mô tả</th>
            <th scope="col">Trình độ</th>
            <th scope="col">Thời gian tạo</th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <td scope="col">{{sum @index 1}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td>{{this.level}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="" class="btn btn-link" data-id={{this._id}} id="btn-restore-course">Khôi phục</a>
                <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#force-delete-course-modal"
                    data-id={{this._id}}>Xóa
                    vĩnh viễn</a>
            </td>
            {{else}}
            <td class="text-center" colspan="5">Chưa có khóa học nào được xóa.
                <a href="/me/stored/courses">Danh sách khóa học</a>
            </td>
        </tr>

        {{/each}}
    </tbody>
</table>

<!-- Delete course modal -->

<div class="modal fade" id="force-delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Khóa học này sẽ được xóa vĩnh viễn và không thể khôi phục!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="btn-force-delete-course">Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete hidden form -->

<form method="POST" name="force-delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>

<script>
    const deleteCourseModal = document.getElementById('force-delete-course-modal')
    const btnForceDeleteCourse = document.getElementById('btn-force-delete-course')
    const btnListRestoreCourses = document.querySelectorAll('#btn-restore-course')
    const forceDeleteForm = document.forms['force-delete-course-form']
    const restoreForm = document.forms['restore-course-form']

    var courseId

    if (deleteCourseModal) {
        deleteCourseModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            courseId = button.getAttribute('data-id')

            // Update the modal's content.
            const modalTitle = deleteCourseModal.querySelector('.modal-title')

            modalTitle.textContent = `Xóa vĩnh viễn khóa học - ${courseId}`
        })

    }

    btnForceDeleteCourse.onclick = function () {
        forceDeleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
        forceDeleteForm.submit()
    }

    const restoreDeleteForm = document.forms['restore-course-form']
    btnListRestoreCourses.forEach((element) => {
        element.onclick = function (e) {
            e.preventDefault()
            const idCourse = element.getAttribute('data-id');
            restoreForm.action = '/courses/' + idCourse + '/restore?_method=PATCH'
            restoreForm.submit()
        }
    })

</script>